*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
aside{
  height: 600px;
  width: 30%;
  background: #0c1317;
}

.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.image img{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
.image h2{
    margin-top: 1px;
    color: white;
    margin-left: 10px;
}
.image{
    display: flex;
}
.icons{
    display: flex;
    color: white ;
    gap: 20px;
}

.search-bar{
    padding: 10px 20px;
}

.search-bar input{
    width: 100%;
    padding: 10px 20px;
    background: url(images/search-icon\ \(1\).png) no-repeat ;
    background-size: 20px;
    background-position: right;
    background-position-x: 300px;
    border: 1px solid #252627;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    background-color: #202c33;
    transition: all 0.3s ;
    border-bottom: 2px solid #00a884;
}

.search-bar input::placeholder {
    color: #ccc;
}
.archived{
    display: flex;
   gap: 20px;
   margin-left: 40px;
   margin-top: 10px;
   /* border-bottom: 1px solid #838383; */
}
.archived i{
    color: #00a884 ;
}
.text-1{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-1 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-1 .iliii{
    margin-left: 177px;
    color: #00a884;
    margin-top: -10px;
}
.text-2{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-1 i{
    color: #0800ff;
}
.text-7 i{
    color: #0800ff;
}
.text-2 i{
    color: #0800ff;
}
.text-3 i{
    color: #0800ff;
}
.text-4 i{
    color: #0800ff;
}
.text-5 i{
    color: #0800ff;
}
.text-6 i{
    color: #0800ff;
}

.text-2 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-2 .iliii{
    margin-left: 190px;
    color: #00a884;
    margin-top: -10px;
}
.text-3{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-3 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-3 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-3 .iliii{
    margin-left: 160px;
    color: #00a884;
    margin-top: -10px;
}
.text-4{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-4 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-4 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-4 .iliii{
    margin-left: 165px;
    color: #00a884;
    margin-top: -10px;
}
.text-5{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-5 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-5 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-5 .iliii{
    margin-left: 160px;
    color: #00a884;
    margin-top: -10px;
}
.text-6{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
 /* border-bottom: 1px solid #838383; */
}
.text-6 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-6 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-6 .iliii{
    margin-left: 160px;
    color: #00a884;
    margin-top: -10px;
}
.text-7{
    display: flex;
    margin-top: 25px;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
 /* border-bottom: 1px solid #838383; */
}
.text-7 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #00a884;
}
.text-7 p{
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: lighter;
}
.text-7 .iliii{
    margin-left: 160px;
    color: #00a884;
    margin-top: -10px;
}
#parent-2{
   justify-content: center;
  width: 70%;
  height: 600px;
  left: 30%;
  position: absolute;
  top: 0;
  background-image: url(images/WhatsApp\ Image\ 2024-01-29\ at\ 5.22.54\ AM.jpeg);
}

.child-1 img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 10px; 
    margin-left: 20px;
}
.child-1 h3{
    top: 0;
    position: absolute;
    left: 65px;
    margin-top: 6px;
    font-weight: lighter;
}
.child-1 p{
    font-size: 14px;
}
.child-2 i{
   position: absolute;
margin-left: 680px;
   top: 0;
   padding: 10px;
}
.child-3 i{
    position: absolute;
    margin-left: 740px;
       top: 0;
       padding: 10px;
}
.child-4 i{
    position: absolute;
    margin-left: 800px;
       top: 0;
       padding: 10px;
}
#parent-3{
    position: absolute;
    bottom: 0;
}
#parent-3 input{
    padding: 10px 15px;
    width: 790px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #202c33;
    font-size: small;
    margin-bottom: 5px;
}
#parent-3 input::placeholder {
    color: #ccc;
}
#parent-3 i{
    margin-left: 10px;
}
